$null: #ffffff;
$gray: #dddddd;
$dark: #333333;

$font-weight: 300;
$font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
$font-size: 16px;
